# Nuvoton Numaker timer counter driver configuration

# Copyright (c) 2025 iWorx Systems Inc.
# SPDX-License-Identifier: Apache-2.0

config COUNTER_TIMER_NUMAKER
	bool "Nuvoton NuMaker timer counter driver"
	default y
	depends on DT_HAS_NUVOTON_NUMAKER_TIMER_ENABLED
	help
	  Enable counter driver for Nuvoton NuMaker series timer peripherals.
